@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* 背景颜色 */
  --body-bg-color: #f9fafb;
  /* 主要颜色：f4a261 787ff6 */
  --primary-color: #f4a261;
}

/* 更改滚动条的颜色 */
.simplebar-scrollbar::before {
  background-color: #c1c1c1;
}

/* ========================== Dropdown 自定义样式 ============================================= */
.lyx-dropdown .ant-dropdown-menu {
  backdrop-filter: blur(20px);
  background-color: var(--ant-color-bg-elevated);
  background-image: url("./assets/images/bg-left-top.svg"),
    url("./assets/images/bg-right-bottom.svg");
  background-size: 50%, 50%;
  background-position: right top, left bottom;
  background-repeat: no-repeat;
  box-shadow: 0 0 2px 0 rgba(145 158 171 / 0.24),
    -20px 20px 40px -4px rgba(145 158 171 / 0.24);
}

.lyx-dropdown .ant-dropdown-menu .ant-dropdown-menu-item {
  box-sizing: content-box;
  margin-bottom: 4px;
  height: 36px;
  padding: 6px 8px;
}

.lyx-dropdown .ant-dropdown-menu .ant-dropdown-menu-item:last-child {
  margin-bottom: 0;
}

.lyx-dropdown .ant-dropdown-menu .ant-dropdown-menu-item-selected {
  color: inherit;
  background-color: rgba(145, 158, 171, 0.16);
  font-weight: 600;
}

.lyx-dropdown .ant-dropdown-menu .ant-dropdown-menu-item-selected:hover {
  background-color: rgba(145, 158, 171, 0.08);
}
/* ========================== Dropdown 自定义样式 ============================================= */

/* ========================== account Drawer 自定义样式 ======================================= */
.ant-drawer .lyx-account-drawer-body {
  padding: 0px;
  background-image: url("./assets/images/bg-left-top.svg"),
    url("./assets/images/bg-right-bottom.svg");
  background-size: 50%, 50%;
  background-position: right top, left bottom;
  background-repeat: no-repeat;
}
/* ========================== account Drawer 自定义样式 ======================================= */

/* ========================== Popover 自定义样式 ======================================= */
.lyx-popover {
  padding: 0px;
  background-color: var(--ant-color-bg-elevated);
  background-image: url("./assets/images/bg-left-top.svg"),
    url("./assets/images/bg-right-bottom.svg");
  background-size: 50%, 50%;
  background-position: right top, left bottom;
  background-repeat: no-repeat;
  border-radius: 8px;
}

.lyx-popover .ant-popover-arrow::before {
  background-color: var(--antd-arrow-background-color);
  background-image: linear-gradient(
    45deg,
    rgba(0, 184, 217, 0.1),
    rgba(0, 184, 217, 0.1)
  );
}

.lyx-popover .ant-popover-content .ant-popover-inner {
  background-color: transparent;
  padding: 0;
}

.lyx-popover .ant-popover-content .ant-popover-inner .ant-popover-title {
  margin-bottom: 0;
}
/* ========================== Popover 自定义样式 ======================================= */

.lyxSegmented {
  height: 54px;
  padding: 8px;
}

.lyxSegmented .ant-segmented-group .ant-segmented-item {
  border-radius: 10px;
}

.lyxSegmented
  .ant-segmented-group
  .ant-segmented-item
  .ant-segmented-item-label {
  height: 100%;
}
